@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


*{
    font-family: 'Press Start 2P', monospace;
}

body {
  background-color: #1f1f1f;
  /* background-image: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/squares.png)  */
}
  
.box {
  display: inline-block;       
  /* border: 1px solid #4e533d; */
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
}

.off {
  background-color: #c4d0a2;
}

.on {
  background-color: #4e533d;
}
  
.box:hover { 
  background: #8b966e;
}

.center {
  margin: auto;
  display: table;
  margin-top: 10px;
}

.grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  border-radius: 5px;
  overflow: hidden;
  /* box-shadow: 0px 0px 20px white; */
  margin-top: 20px;
}
  
h1, h2, h3, h4 {
  color: white;
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
}

h4 {
  margin-top: 0px;
}